body{
	background-color: $backgroundColor;
	color: $fontColor;
	font-family: $fontFamily;
}

h1, h2, h3, h4, h5, h6 {
	color: $headingColor;
	font:{
		family: $headingFontFamily;
		weight: 700;
	}
	margin: 0;
}

h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;

	@media screen and (max-width: 400px){
		font-size: 2.5em;
	}
}

h2 {
	font-size: 2.25em;
	line-height: 1.3333333333333333;
	margin-bottom: 0.6666666666666666em;

	@media screen and (max-width: 400px){
		font-size: 1.75em;
	}
}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.3125em;
	line-height: 1.1428571428571428;
	margin-bottom: 1.1428571428571428em;
}

h5 {
	font-size: 1.125em;
	line-height: 1.3333333333333333;
	margin-bottom: 1.3333333333333333em;
}

h6 {
	font-size: 1em;
	line-height: 1.5;
	margin-bottom: 1.5em;
}

section header{
	margin-top: 1em;
}

p, blockquote {
	margin: 0 0 1.5em;
	line-height: 1.5;
}

dl, ol, ul {
	margin: 0 0 1.5em;
}

dd, dt, li {
	line-height: 1.5;
	margin: 0;
}

a{
	color: $linkColor;
	text-decoration: none;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;

	&:hover, &:focus, &:active{
		color: $linkColor-hover;
	}
}

img{
	border:none;
	height: auto;
	max-width: 100%;
}

form {
	margin-bottom: 1em;
}

legend {
	color: $fontColor;
}

hr {
	background-color: $fontColor;
	border: 0;
	color: $fontColor;
	height: 1px;
}

a[name=footerNav]{
	display: none !important;
}

.leftCol{
	@media screen and (min-width: 525px){
		float: left;
	}
}

.rightCol{
	@media screen and (min-width: 525px){
		float: right;
	}
}

.featureRight{
	border-radius: 3px;

	@media screen and (max-width: 524px){
		margin-bottom: 1em;
	}

	@media screen and (min-width: 525px){
		float: right;
		margin: 0 0 1em 1em;
	}
}